<div class="op_title" onmousedown="begindrag('operation_pannel', event);">
	<cite onclick="hideElement('operation_pannel');"><img src="images/<#IMAGE#>/x.gif" alt="" /></cite>
	<h3>{$opreate_name}: {$t_title}</h3>
</div>
<if="$opreate_description">
<div class="item_list desc">{$opreate_description}</div>
</if>
<form action='' method='post' name='confirm_operate_form' id='confirm_operate_form'>
	<foreach="$input AS $n => $v">
		<input type='hidden' name='{$n}' value='{$v}' />
	</foreach>
	<if="is_array($do_actions)">
	<div class="item_list">
		<foreach="$do_actions AS $key => $value">
			<label><input type='radio' name='do' value='{$key}'{$action_checked[$key]}{$click_event[$key]} />{$value}</label>
		</foreach>
	</div>
	<else>
		<input type='hidden' name='do' value='{$action}' />{$value}
	</if>
	<if="$action == 'movepost'">
		<div class="item_list">{$lang['movepostdesc1']} <input type='text' size='50' name='threadurl' value='' class='input_normal' /></div>
	<elseif="$action == 'splitthread'">
		<div class="item_list">{$lang['newthreadtitle']} <input type='text' size='40' maxlength='100' name='title' value='' class='input_normal' /></div>
		<div class="item_list">{$lang['newthreadforum']}<select name='fid' class="select_normal">{$forums_info}</select></div>
	<elseif="$action == 'deletepost'">
		<div class="item_list">{$lang['deletepmusers']}
			<input type="checkbox" name="deletepmusers" id="deletepmusers" value="1" />
		</div>
		<div class="item_list">{$lang['deletepostreason']}:<input type='text' size='50' name='deletereason' value='' class='input_normal' /></div>
	</if>	
	<div class="item_list" align="center">
		<input type="button" name="submit_btn" value=" {$lang['doupdate']} " class="button_normal" onclick="ajax_submit_form('confirm_operate_form','', 'pid');" />
		<input type="button" name="reset_btn" value=" {$lang['_cancel']} " class="button_normal"  onclick="hideElement('operation_pannel');" />
	</div>
	<div class="op_list">
		<ul>
			<foreach="$showpost AS $post">
			<li>
				<div class="{$post['post_css']}">
					<div class="post_content">
						<div class="post_info">
							<input type='checkbox' name='pid[]' value='{$post['pid']}' checked="checked" />
							{$post['username']}
							<cite class="time">{$lang['postat']}&nbsp;{$post['dateline']}</cite>
						</div>
						<div class="post_text" id="show{$post['pid']}">
								{$post['pagetext']}
						</div>
					</div>
				</div>
			</li>
			</foreach>
		</ul>
	</div>
</form>