{template:header}
{template:usercp_menu}
<div id="ucp_content">
	<h3>{$lang['buddyedit']}</h3>
	<form action="private.php" method="post">
		<input type='hidden' name='s' value='{sessionid}' />
		<input type='hidden' name='do' value='douseredit' />
		<input type='hidden' name='u' value='{$user['contactid']}' />
		<em>{$lang['buddyedit']}</em>
		<div class='ucp'>
			<p>{$user['contactname']}</p>
			<p>
				{$lang['inputdescription']}
				<input type='text' name='description' size='30' maxlength='60' value='{$user['description']}' class='input_normal' />
			</p>
			<p>
			{$lang['alluserpm']}
			{$allowpm}
			</p>
		</div>
		<div class="ucp item_change"><input type="submit" accesskey="s" value="{$lang['editcontactuser']}" class="input_big" /></div>
	</form>
</div>
{template:footer}