{template:header}
{template:usercp_menu}
<div id="ucp_content">
	<h3>{$foldername}</h3>
	<div class="ucp">
		<ul class="new_button">
			<li><strong><a href='private.php{sessionurl}do=newpm'>{$lang['writenewpm']}</a></strong></li>
		</ul>
		<div class="capacity ttable">
			<strong>{$info['pmfull']}</strong>
			<div><img src='images/<#IMAGE#>/bar_left.gif' alt='' /><img src='images/<#IMAGE#>/bar.gif' style="height:11px;width:{$info['img_width']}px;" alt='' /><img src='images/<#IMAGE#>/bar_right.gif' alt='' /></div>
			<cite style="text-align:left;">0%</cite>
			<cite style="text-align:center;">50%</cite>
			<cite style="text-align:right;">100%</cite>
			<br />
		</div>
	</div>
	<div class="ucp">
	<form action="private.php" name='mutliact' method="post">
		<input type='hidden' name='s' value='{sessionid}' />
		<input type='hidden' name='do' value='managepm' />
		<input type='hidden' name='curfolderid' value='{$curfolderid}' />
		<table width='100%' cellspacing='1' cellpadding='0' class="ttable">
		<thead>
			<tr class="thead" align="left">
				<th>&nbsp;</th>
				<th width='60%'>
					<a href='private.php{sessionurl}do=list&amp;folderid={$info['folderid']}&amp;sort=title&amp;pp={$_INPUT['pp']}'>{$lang['pmtitle']}</a>
				</th>
				<th width='15%'>
					<a href='private.php{sessionurl}do=list&amp;folderid={$info['folderid']}&amp;sort=name&amp;pp={$_INPUT['pp']}'>{$sender}</a>
				</th>
				<th width='20%'>
					<a href='private.php{sessionurl}do=list&amp;folderid={$info['folderid']}&amp;sort={$info['date_order']}&amp;pp={$_INPUT['p']}'>{$lang['_pmsendtime']}</a>
				</th>
				<th width='5%' align="center">
					<input name="allbox" type="checkbox" value="{$lang['_selectall']}" onclick="CheckAll(document.mutliact);" />
				</th>
			</tr>
		</thead>
		<tbody class="tbody">
		<if="$show['message'] && sizeof($pmlist)">
		<foreach="$pmlist AS $data">
		<tr align="left" class="item_list" onmouseover="this.className='item_change';" onmouseout="this.className='item_list';">
			<td align="center">
				<if="$data['icon']=='sysnew'">
				<img src='images/<#IMAGE#>/pm_new.gif' alt='{$lang[_systeminfo]}' />
				<elseif="$data['icon']=='new'">
				<img src='images/<#IMAGE#>/pm_new.gif' alt='{$lang['pmunread']}' />
				<elseif="$data['icon']=='old'">
				<img src='images/<#IMAGE#>/pm_old.gif' alt='{$lang['pmhasread']}' />
				</if>
			</td>
			<td>
				{$data['fromadmin']}
				<if="$data['attach_img']"><img src='images/<#IMAGE#>/attachment.gif' alt='{$lang['pmhasattach']}' /></if>
				<a href='private.php{sessionurl}do=showpm&amp;folderid={$data['folderid']}&amp;pmid={$data['pmid']}'>{$data['title']}</a>
			</td>
			<td><a href='profile.php{sessionurl}u={$data['fromuserid']}'>{$data['fromusername']}</a></td>
			<td class="time">{$data['date']}</td>
			<td align="center">
				<if="!$data['fromadmin']">
				<input type='hidden' name='{$data['pmid']}' value='{$data['pmread']}' />
				<input type='checkbox' name='pmid[{$data['pmid']}]' value='{$data['pmid']}' />
				</if>
			</td>
		</tr>
		</foreach>
		<else>
		<tr align="center" class="item_list">
			<td colspan='5'>{$lang['nosavepms']}</td>
		</tr>
		</if>
		<tr align='right' class='item_change'>
			<td colspan='5'>
				{$lang['selectedpms']}
				<input type='submit' name='move' value=' {$lang['moveto']} ' class='button_normal' />
				<select name='folderid' class='select_normal'>
				{$pmselect}
				</select>
				{$lang['_or']}
				<input type='submit' name='delete' value=' {$lang['directdelete']} ' class='button_normal' />
			</td>
		</tr>
		</tbody>
		</table>
	</form>
		<div class="page_nav">
			<ul class="ucp" style="float:right;">
				<li>
					<img class='inline' src='images/<#IMAGE#>/pm_new.gif' alt='{$lang['pmunread']}' />
					{$lang['pmunread']}
				</li>
				<li>
					<img class='inline' src='images/<#IMAGE#>/pm_old.gif' alt='{$lang['pmhasread']}' />
					{$lang['pmhasread']}
				</li>
			</ul>
			{$pages}
		</div>
	</div>
</div>
{template:footer}