<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>
			{$bboptions['bbtitle']}
		</title>
	</head>
	<body bgcolor='#FFFFFF' alink='#000000' vlink='#000000' link='#000000'>
		<table width='100%' border='0' align='center' cellpadding='6'>
			<tbody>
				<tr>
					<td>
						<font size='5' color='#4C77B6'>
							<strong>
								{$lang['printthread']}
							</strong>
						</font>
						<br />
						<font size='3' color='#000000'>
							<strong>
								<a href='showthread.php{sessionurl}f={$forum['id']}&amp;t={$thread['tid']}'>
									{$lang['originalthread']}
								</a>
							</strong>
							( {$bboptions['bburl']}/showthread.php{sessionurl}f={$forum['id']}&amp;t={$thread['tid']} )
						</font>
					</td>
				</tr>
				<tr>
					<td>
						<font size='3' color='#000000'>
							<strong>
								{$bboptions['bbtitle']} &gt;
								{$forum['name']} &gt;
								<font color='red'>
									{$thread['title']}
								</font>
							</strong>
						</font>
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		<br />
		<foreach="$data AS $post">
		<table cellspacing="1" cellpadding="4" width="100%" style="background-color:#A0A0A0;table-layout:fixed;word-wrap:break-word;">
			<tbody>
				<tr>
					<td bgcolor='#EEEEEE'>
						<font color='#000000'>
							<strong>
								{$lang['postusername']}: {$post['name']}
							</strong>
							{$lang['posttime']}: {$post['dateline']}
						</font>
					</td>
				</tr>
				<tr>
					<td bgcolor='#FFFFFF'>
						<font color='#000000'>
							{$post['pagetext']}
						</font>
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		</foreach>
		<center>
			<font size='2' color='#000000'>
				Powered By MolyX. Copyright 2004-2006
				<a href="http://www.hogesoft.com" target="_blank">
					HOGE Software
				</a>
			</font>
		</center>
	</body>
</html>