<div class="op_title" onmousedown="begindrag('operation_pannel', event);">
	<cite onclick="hideElement('operation_pannel');"><img src="images/<#IMAGE#>/x.gif" alt="" /></cite>
	<h3>{$lang['sendfriend']}</h3>
</div>
<form action="" method="post" name='send_mailto' id="send_mailto">
	<input type='hidden' name='s' value='{$sessionid}' />
	<table width='100%' cellpadding='0' cellspacing='0'>
	<tbody class="tbody">
		<tr>
			<td class="item_list">{$lang['recipients']}</td>
			<td class="item_list"><input type='text' name='to_name' value='' size='30' maxlength='100' class='input_normal' /></td>
		</tr>
		<tr>
			<td class="item_list">{$lang['recipientsmail']}</td>
			<td class="item_list"><input type='text' name='to_email' value='' size='30' maxlength='100' class='input_normal' /></td>
		</tr>
		<tr>
			<td class="item_list">{$lang['title']}</td>
			<td class="item_list"><input type='text' name='subject' value='{$lang['becommend']}: {$subject}' size='65' maxlength='120' class='input_normal' /></td>
		</tr>
		<tr>
			<td class="item_list" valign="top">{$lang['mailcontent']}</td>
			<td class="item_list"><textarea cols='75' rows='5' wrap='soft' name='message'>{$lang['sendfriendcontent']}</textarea></td>
		</tr>
	</tbody>
	</table>
	<div class="item_list" align="center">
		<input type="button" class="button_normal" name="send_mail" accesskey="s" value="{$lang['dosend']}" onclick="send_mailto_friend({$_INPUT['t']}, 'send_mailto');" />
		<input type="button" class="button_normal" name="reset_btn" accesskey="c" value=" {$lang['_cancel']} " onclick="hideElement('operation_pannel');" />
	</div>
</form>