<form action='moderate.php' method='post' name='mxbform'>
<input type='hidden' name='posthash' value='{$posthash}' />
<input type='hidden' name='do' value='edituser' />
<input type='hidden' name='u' value='{$user['id']}' />
<input type='hidden' name='update' value='1' />
<div class='pformstrip'>{$lang['edituser']}: {$user['name']}</div>
<div class='ucpcontentct'>
<table width='100%' border='0' cellspacing='0' cellpadding='4'>
<tbody>
<tr>
<td valign='top' width='50%'>
<fieldset>
<legend><strong>{$lang['userbasicinfo']}</strong></legend>
<table width='100%' border='0' cellspacing='0' cellpadding='4'>
<tbody>
<tr>
<td width='40%'>{$lang['deleteavatar']}</td>
<td width='60%'><select name='avatar'><option value='0'>{$lang['_no']}</option><option value='1'>{$lang['_yes']}</option></select></td>
</tr>
<tr>
<td>{$lang['website']}</td>
<td><input type='text' size='35' name='website' value='{$user['website']}' class='bginput' /></td>
</tr>
<tr>
<td valign='top'>{$lang['signature']}</td>
<td><textarea cols='35' rows='5' name='signature'>{$user['signature']}</textarea></td>
</tr>
<tr>
<td width='40%'>{$lang['deletesigimg']}</td>
<td width='60%'><if="$issigimg"><img src='{$sigimg}' border='0' onclick='javascript:window.open(this.src);' alt='' style='CURSOR: pointer' onload='javascript:if(this.width>screen.width-300)this.style.width=screen.width-300;' /><br /></if><select name='sigimg'><option value='0'>{$lang['_no']}</option><option value='1'>{$lang['_yes']}</option></select></td>
</tr>
</tbody></table>
</fieldset>
<br />
<fieldset>
<legend><strong>{$lang['otherinfo']}</strong></legend>
<table width='100%' border='0' cellspacing='0' cellpadding='4'>
<tbody>
<tr>
<td>{$lang['qq']}</td>
<td><input type='text' size='35' name='qq' value='{$user['qq']}' class='bginput' /></td>
</tr>
<tr>
<td>{$lang['uc']}</td>
<td><input type='text' size='35' name='uc' value='{$user['uc']}' class='bginput' /></td>
</tr>
<tr>
<td>{$lang['popo']}</td>
<td><input type='text' size='35' name='popo' value='{$user['popo']}' class='bginput' /></td>
</tr>
<tr>
<td>{$lang['skype']}</td>
<td><input type='text' size='35' name='skype' value='{$user['skype']}' class='bginput' /></td>
</tr>
<tr>
<td>{$lang['icq']}</td>
<td><input type='text' size='35' name='icq' value='{$user['icq']}' class='bginput' /></td>
</tr>
<tr>
<td width='40%'>{$lang['yahoo']}</td>
<td width='60%'><input type='text' size='35' name='yahoo' value='{$user['yahoo']}' class='bginput' /></td>
</tr>
<tr>
<td>{$lang['aim']}</td>
<td><input type='text' size='35' name='aim' value='{$user['aim']}' class='bginput' /></td>
</tr>
<tr>
<td>{$lang['msn']}</td>
<td><input type='text' size='35' name='msn' value='{$user['msn']}' class='bginput' /></td>
</tr>
</tbody></table>
</fieldset>
<br />
</td>
</tr>
</tbody></table>
</div>
<div class='pformstrip' align='center'><input type='submit' value='{$lang['edituser']}' class='button' /></div>
</form>