{template:header}
<form action='forumdisplay.php' method='post'>
<input type='hidden' name='s' value='{sessionid}' />
<input type='hidden' name='f' value='{$forumid}' />
<input type='hidden' name='pwd' value='1' />
<table width='100%' cellpadding='4' cellspacing='1' class='ttable'>
<tbody class='tbody'>
<tr class='thead'>
<th>
{$lang['forumpassword']}
</th>
</tr>
<tr class='item_list'>
<td>
<div><strong>{$lang['forumlocked']}</strong></div>
<div>{$lang['forumlockeddesc']}</div>
<div align='center'>
<strong>{$lang['password']}</strong>&nbsp;&nbsp;<input type='password' size='20' name='password' class='bginput' />&nbsp;&nbsp;<input type='submit' value=' {$lang['_ok']} ' class='button' />
</div>
</td>
</tr>
</tbody></table>
</form>
{template:footer}