{template:header}
<div class="separate"><!-- separate block --></div>
<div id="info">
	<div id="user_info">
		<if="$bbuserinfo['id']">
		<div>
			{$lang['welcomebackuser']}: <span>{$lastvisit}</span>&nbsp;/&nbsp;{$lang['posts']}:<span>{$bbuserinfo['posts']}</span>&nbsp;/&nbsp;{$lang['quintessence']}:<span>{$bbuserinfo['quintessence']}</span>
		</div>
		<div>{$expand_credit}</div>
		<else>
		{$lang['notlogin']}
		</if>
	</div>
	<div id="forum_info">
		<div>
			{$lang['totalthreads']}: <span>{$totalthreads}</span>&nbsp;/&nbsp;{$lang['totalposts']}: <span>{$totalposts}</span>&nbsp;/&nbsp;{$lang['totalmembers']}: <span>{$numbermembers}</span>
		</div>
		<div>
			{$lang['todaypost']}: <span>{$todaypost}</span>&nbsp;/&nbsp;{$lang['newmember']}: <span><a href='profile.php{sessionurl}u={$newuserid}'>{$newusername}</a></span>
		</div>
	</div>
</div>
<div class="top_ad">{ads:thread}</div>
<div class="side_index">
<foreach="$forums->forum->forum_cache['root'] as $id => $cat_data">
<if="is_array( $forums->forum->forum_cache[ $cat_data['id'] ] )">
<if="$cat_data['forumcolumns']">
{template:forumlist_column}
<else>
{template:forumlist_normal}
</if>
</if>
</foreach>
</div>

<div class="index_area">
	<h2>{$lang['digg_thread']}</h2>
	<dl>
	<if="$top_digg_thread">
		<foreach="$top_digg_thread AS $tid => $thread">
		<dt><a href="showthread.php{sessionurl}t={$tid}">{$thread['title']}</a></dt>
		<dd class="exp">{$thread['digg_exps']}</dd>
		<dd class="tdesc">by {$thread['postusername']}, {$thread['digg_users']}
		{$thread['post']} {$lang['thread_replies']}
		{$thread['views']} {$lang['thread_hits']}
		{$thread['lastpost']} {$lang['thread_update']}</dd>
		</foreach>
	</dl>
	</if>
</div>
<div class="clear"><!-- clear float --></div>
<if="$show['stats']">
<div id="onlineusers" class="ttable">
	<if="$bboptions['showloggedin']">
	<if="$hideonline">
	<div class='thead'>
		<div style="float:right">
			<a href='{$bboptions['forumindex']}{sessionurl}online=show'><img src='images/<#IMAGE#>/expand.gif' alt='' /></a>
		</div>
		<div>
			<a href='online.php{si_sessionurl}'>{$lang['onlineclosed']}</a>
		</div>
	</div>
	<else>
	<div class='thead'>
		<div style='float:right;'>
			<a href='{$bboptions['forumindex']}{sessionurl}online=hide'><img src='images/<#IMAGE#>/collapse.gif' alt='' /></a>
		</div>
		<div>
		<a href='online.php{si_sessionurl}'>{$lang['onlineuser']}</a>: {$totalonline}&nbsp;&nbsp;{$lang['onlineusers']}
		</div>
	</div>
		<if="$online['username'] && is_array($online['username'])">
		<div class='item_list'>
			<ul>
				<foreach="$online['username'] as $data">
					<li>
					<if="$data['userid']">
						<a href='profile.php{sessionurl}u={$data['userid']}' title='{$data['lastactivity']}'>{$data['usericon']}{$data['opentag']}{$data['username']}{$data['closetag']}</a>
					<else>
						{$data['usericon']}{$data['username']}
					</if>
					<if="$data['mobile']">
						<img src='images/<#IMAGE#>/mobile.gif' class="inline" alt='' />
					</if>
					<if="$data['show_icon']">
						*
					</if>
					</li>
				</foreach>
			</ul>
		</div>
		</if>
	</if>
	</if>
	<if="$show['birthday']">
	<div class='item_change'>
		<img src='images/<#IMAGE#>/birthdays.gif' class="inline" alt='{$lang['birthdays']}' />
		{$lang['todaybirthdays']}
	</div>
	<div class='item_list'>
		<ul>
		{$birthusers}
		</ul>
	</div>
	</if>
</div>
</if>
<if="$league">
<div id="league" class="ttable">
	<div class="thead">
		{$lang['league']}
	</div>
	<foreach="$league AS $data">
		<if="$data['type']==0">
	<div class="item_list">
		<img src='{$data['siteimage']}' alt='' />
		<div><a href='{$data['siteurl']}' target='_blank'><strong>{$data['sitename']}</strong></a></div>
		<div class="desc">{$data['siteinfo']}</div>
	</div>
		</if>
		<if="$data['type']==1">
		<if="!$dataimg"><ul></if>
		<li>
			<a href='{$data['siteurl']}' target='_blank' title='{$data['sitename']}'><img src='{$data['siteimage']}' alt='' /></a>
		</li>
		<php>
			$dataimg=true;
		</php>
		</if>
		<if="$data['type']==2">
		<if="$dataimg"></ul></if><if="!$datatext"><ul></if>
		<li>
			<a href='{$data['siteurl']}' target='_blank' title='{$data['siteinfo']}'>{$data['sitename']}</a>
		</li>
		<php>
			$datatext=true;
		</php>
		</if>
	</foreach>
		<if="$dataimg || $datatext">
		</ul>
		</if>
</div>
</if>
{template:footer}