{template:header}
<script language='javascript' type="text/javascript">
//<![CDATA[
function validate() {
if (document.REG.a.value == "") {
alert ("{$lang['inputallform']}");
return false;
}
}
//]]>
</script>

<div class="separate"><!-- separate block --></div>
<form action="register.php" method="post" name='REG' onsubmit='return validate()'>
<input type='hidden' name='do' value='validate' />
<input type='hidden' name='s' value='{sessionid}' />
<input type='hidden' name='type' value='{$type}' />
<table width='100%' cellpadding='4' cellspacing='1' class='ttable'>
<caption class='tcat'>
	{$lang['activation']}
</caption>
<tbody>
<if="$type='losspass'">
<tr class='item_list'> 
<td class='desc' colspan='2'>{$lang['findlostpassword']}</td>
</tr>
</if>
<if="$show['havekey']">
<tr class='item_list'>
<td colspan='2'>
<input type='hidden' name='u' value='{$userid}'  />
<input type='hidden' name='a' value='{$activationkey}'  />
</td>
</tr>
<elseif="$show['validate']">
<tr class='item_list'>
<td class='desc' colspan='2'>
{$lang['inputallformdesc']}
<br />{$lang['inputallform']}</td>
</tr>
<tr class='item_list'>
<td width="40%"><strong>{$lang['_username']}:</strong></td>
<td width="60%"><input type='text' size='32' maxlength='32' name='name' class='bginput' /></td>
</tr>
<tr class='item_list'>
<td><strong>{$lang['affirmimagehash']}:</strong></td>
<td><input type='text' size='32' maxlength='50' name='a' class='bginput' /></td>
</tr>
</if>
<if="$type='losspass'">
<tr class='item_list'>
<td><strong>{$lang['inputnewpassword']}</strong><br />{$lang['passwordfaq']}</td>
<td><input type='password' size='32' maxlength='32' name='pass1' class='bginput' /></td>
</tr>
<tr class='item_list'>
<td><strong>{$lang['confirmnewpassword']}</strong><br />{$lang['confirmpasswordfaq']}</td>
<td><input type='password' size='32' maxlength='32' name='pass2' class='bginput' /></td>
</tr>
</if>
<tr class='item_list'>
<td width="180">&nbsp;</td>
<td>
	<input type="submit" accesskey="s" value="{$lang['activation']}" class='input_big' />
</td>
</tr>
</tbody></table>
</form>
{template:footer}