{template:header}
<div class="separate"><!-- separate block --></div>
<if="$errors">
<div id='errors'>
	<h3>{$lang['validateerrors']}</h3>
	<p>{$errors}</p>
</div>
</if>
<form action="register.php" method="post">
<input type='hidden' name='s' value='{sessionid}' />
<input type='hidden' name='do' value='safechange' />
<input type='hidden' name='id' value='{$userid}' />
<input type='hidden' name='update' value='1' />
<table width='100%' cellpadding='4' cellspacing='1' class='ttable'>
<caption class='tcat'>
	{$lang['findpassword']}
</caption>
<tbody>
<tr class='item_list'>
<td width='35%'><strong>{$lang['question']}</strong></td>
<td width='65%'>{$safe['question']}</td>
</tr>
<tr class='item_list'>
<td width='35%'><strong>{$lang['answer']}</strong></td>
<td width='65%'><input type='text' size='32' maxlength='100' name='answer' class='bginput' /></td>
</tr>
<tr class='item_list'>
<td width='35%'><strong>{$lang['password']}</strong></td>
<td width='65%'><input type='password' size='32' maxlength='32' name='password' class='bginput' /></td>
</tr>
<tr class='item_list'>
<td width='35%'><strong>{$lang['repassword']}</strong></td>
<td width='65%'><input type='password' size='32' maxlength='32' name='passwordconfirm' class='bginput' /></td>
</tr>
<tr class='item_list'> 
<td colspan='2' align="center"><input type="submit" name="safechange" value=" {$lang['findpassword']} " class="input_big" /></td>
</tr>
</tbody></table>
</form>
{template:footer}