{template:header}
<if="$showdelclew">
<script language='JavaScript' type="text/javascript">
//<![CDATA[
	$('show_process').innerHTML = '{$clewinfo}';
	$('show_process').style.display = 'inline';
	setTimeout(function()
	{
		$('show_process').style.display = 'none';
		$('show_process').innerHTML = '';
	}, 3000);
	var thisforum = 'signature';
//]]>
</script>
</if>
<script language='JavaScript' type="text/javascript">
//<![CDATA[
	var postmaxchars = "{$bboptions['signaturemaxlength']}";
	function getMessageLength() {
	 mxeGet();
	  return calculate_byte(mxeTxH.value);
	}
	function checklength() {
	 if (postmaxchars != 0) message = "{$lang['allowmostlength']} "+postmaxchars+" {$lang['chars']}";
	 else message = "";
	 var messageLength = getMessageLength();
	 alert("{$lang['youhaveinput']} "+messageLength+" {$lang['chars']}" + message);
	}
//]]>
</script>
<div class="profile ttable">
	<div class='tcat'>
		{$lang['viewprofile']}: {$info['name']}
	</div>
	<div class='item_list'>
		<div class="user_profile" onmouseover="this.className='user_profile action_area';" onmouseout="this.className='user_profile';">
			{$info['avatar']}
			<em>{$info['name']}</em>
			<if="$info['gender']==1">
			<img src="images/<#IMAGE#>/male.gif" alt="{$lang['_male']}" />
			<elseif="$info['gender']==2">
			<img src="images/<#IMAGE#>/female.gif" alt="{$lang['_female']}" />
			</if>
			<div><cite>{$info['grouptitle']}</cite></div>
			<ul>
				<li>{$lang['_useranks']}: {$info['title']}</li>
				<li>{$lang['_joindate']}: {$info['joindate']}</li>
				<if="$info['status']">
				<li>{$lang['currentstatus']}: <strong>{$lang['online']}</strong></li>
				<else>
				<li>{$lang['currentstatus']}: <strong>{$lang['offline']}</strong></li>
				</if>
				<li>{$lang['lastactive']}: {$info['lastactivity']}</li>
				<li>
					<if="$info['pmicon']">
					<a href='private.php{sessionurl}do=newpm&amp;u={$info['pmicon']}'>{$lang['_pm']}</a>&nbsp;
					</if>
					<if="$info['email_icon']">
					<a href='###' onclick="send_mailto_user({$info['email_icon']}, 0)">{$lang['_sendmail']}</a>&nbsp;
					</if>
					<if="$info['qq_icon']">
					<a href='http://wpa.qq.com/msgrd?V=1&amp;Uin={$info['qq']}&amp;Site={$info['qq_other']['site']}&amp;Menu=yes' target='_blank'><img src='http://wpa.qq.com/pa?p=3:{$info['qq']}:4' alt='{$lang['_qq']}' /></a>
					</if>
				</li>
			</ul>
			<ul>
				<li>
					{$lang['_useposts']}:
					{$info['posts']}
					<if="$info['perdaypost']">
					{$lang['totalpercent']}
					</if>
				</li>
				<li>{$lang['_quintessences']}: {$info['quintessence']}</li>
				<li>{$lang['birthday']}: {$info['birthday']}</li>
				<if="$info['extra']">
				<li>{$info['extra']}</li>
				</if>
			</ul>
			<ul>
				<li><a href='private.php{sessionurl}do=buddy&amp;u={$info['id']}'>{$lang['addtolist']}</a></li>
				<li><a href='findposts.php{sessionurl}do=finduser&amp;u={$info['id']}'>{$lang['finduserpost']}</a></li>
				<li><a href='findposts.php{sessionurl}do=finduserthread&amp;u={$info['id']}'>{$lang['finduserthread']}</a></li>
				<if="$bbuserinfo['supermod'] OR $bbuserinfo['caneditusers']">
				<!-- <li><a href="javascript:;" onclick="show_operationhtml('moderate.php{sessionurl}do=edituser&amp;posthash={$posthash}&amp;u={$info['id']}', 'show_operation');">{$lang['edituserprofile']}</a></li> -->
				</if>
			</ul>
		</div>
	</div>
	<if="$userfriends">
		<!-- 用户好友信息 -->
		<div class='tcat'>
		{$info['name']}{$lang['usersfriends']}
		</div>
			<div class="user_list">
				<ul>
				<foreach="$userfriends AS $uid => $val">
					<li>
						<a href="profile.php{sessionurl}u={$uid}">{$val['avatar']}</a>
						<a href="profile.php{sessionurl}u={$uid}">{$val['contactname']}</a>
					</li>
				</foreach>
				</ul>
			</div>
		<!-- 用户好友信息结束 -->
	</if>
	<if="$info['signature'] != ''">
	<div class='tcat'>
		{$lang['signature']}
	</div>
	<div class='item_change'>
		<div class="signature" id="signature0" ondblclick="edit_signature_event(0, {$info['id']}, 320, 2);">
			{$info['signature']}
		</div>
	</div>
	</if>
</div>
<!-- 状态历程开始 -->
<div id="userjourney" class="ttable">
<if="!$showufriendsdo">
	<div class="userjourney_tab">
		<ul>
			<li class="cur"><a href="profile.php{sessionurl}u={$info['id']}">{$info['name']} {$lang['userdoing']}</a></li>
			<li><a href="profile.php{sessionurl}u={$info['id']}&amp;ufriendsdo=1">{$info['name']} {$lang['userfriendsdo']}</a></li>
		</ul>
	</div>
	<dl>
		<foreach="$userjourney AS $k => $v">
			<dt class='item_change'>{$v['dowhat']}</dt>
			<dd>{$v['time']}</dd>
			<if="$bbuserinfo['supermod'] || $bbuserinfo['id'] == $v['id']">
			<dd><a href="./profile.php{sessionurl}do=delete&amp;doid={$v['did']}&amp;pp={$firstpost}&amp;u={$v['userid']}" onclick="return confirm('{$lang['confirmdelete']}');">{$lang['deletedoing']}</a></dd>
			</if>
		</foreach>
	</dl>
	<div class="page_nav">
		{$pagenav}
	</div>
<else>
	<div class="userjourney_tab">
		<ul>
			<li><a href="profile.php{sessionurl}u={$info['id']}">{$info['name']} {$lang['userdoing']}</a></li>
			<li class="cur"><a href="profile.php{sessionurl}u={$info['id']}&amp;ufriendsdo=1">{$info['name']} {$lang['userfriendsdo']}</a></li>
		</ul>
	</div>
	<dl>
		<foreach="$userjourney AS $k => $v">
			<dt class='item_change'>{$v['dowhat']}</dt>
			<dd>{$v['avatar']}<a href="profile.php{sessionurl}u={$v['userid']}">{$v['name']}</a></dd><dd>{$v['time']}</dd>
		</foreach>
	</dl>
	<div class="page_nav">
		{$pagenav}
	</div>
</if>
<!--
	<div class="item_change">
		<div><textarea cols="60" rows="3" style="width:99%;" name="medotext" onkeydown="if( event.ctrlKey && event.keyCode==13){ chgmedoretnull();}"></textarea></div>
		<button class="input_big" onclick="chgmedoretnull();">{$lang['_submit']}</button>
	</div>
-->
</div>
<!-- 状态历程结束 -->
{template:footer}