{template:header}
<div class="separate"><!-- separate block --></div>
<form action="search.php" method="post" name='sForm'>
<input type='hidden' name='s' value='{sessionid}' />
<input type='hidden' name='do' value='detail_search' />
<div class='wttborder'>
<table width='100%' cellpadding='4' cellspacing='1' class='ttable'>
<tbody>
<tr>
<td colspan='2' class='thead'  align='center'>{$lang['keyword']}</td>
</tr>
<tr>
	<td class='tcat' width='50%'>{$lang['bykeyword']}</td>
	<td class='tcat' width='50%'>{$lang['byusername']}</td>
</tr>
<tr>
<td class='row1' valign='top'>
<input type='text' maxlength='100' size='40' name='keywords' id="keywords" class='bginput' />
<br /><br />
<label for="keywords">{$lang['searchdesc']}</label><br />
</td>
<td class='row1' valign='top'>
<table width='100%' cellpadding='4' cellspacing='0' border='0' align='center'>
<tbody>
<tr>
<td><input type='text' maxlength='100' size='50' name='namesearch' class='bginput' /></td>
</tr>
<tr>
<td width='40%'><input type='checkbox' name='exactmatch' id='exactmatch' value='1' class="checkbox" /><label for="exactmatch">{$lang['exactmatchname']}</label></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
</div>
<div class='wttborder'>
<table width='100%' cellpadding='4' cellspacing='1' class='ttable'>
<tbody>
<tr>
<td colspan='2' class='thead'  align='center'>{$lang['searchoption']}</td>
</tr>
<tr>
<td class='tcat' width='50%' valign='middle'>{$lang['searchforum']}</td>
<td class='tcat' width='50%' valign='middle'>{$lang['exactmatch']}</td>
</tr>
<tr>
<td class='row1' valign='middle'>
<select name='forumlist[]' style='width:100%;' size='10' multiple='multiple'>
<option value='0'{$selected}>{$lang['allforum']}</option>
<optgroup label='-----------------------'>
{$showforum}
</optgroup>
</select>
<br />
<input type='checkbox' name='searchsubs' value='1' id="includesubforum" checked="checked" />&nbsp;<label for="searchsubs">{$lang['searchsubforum']}</label>
</td>
<td class='row1' valign='top'>
<table cellspacing='4' cellpadding='0' width='100%' align='center' border='0'>
<tbody>
<tr>
<td valign='top'><fieldset class="search">
<legend><strong>{$lang['posttime']}</strong></legend>
<select name='posttable'>
  <foreach="$achive AS $av">
  <option value='{$av['table']}'>{$av['dateformat']}</option>
  </foreach>
</select>
<br />
<input type='radio' name='prune_type' id="prune_older" value='older' class='radiobutton' checked="checked" />
&nbsp;
<label for="prune_older">{$lang['pruneolder']}</label>
</fieldset></td>
<td rowspan="2" valign='top'><fieldset class="search">
<legend><strong>{$lang['searchtype']}</strong></legend>
<input type='radio' name='searchin' class="radiobutton" id="search_in_titles" value='titles' checked="checked" />
<label for="search_in_titles">{$lang['searchtitle']}</label>
<br />
<if="$bbuserinfo['cansearchpost']">
<input type='radio' name='searchin' class="radiobutton" id="search_in_post" value='post' />
<label for="search_in_post">{$lang['searchtnp']}</label>
<br />
</if>
<input type='radio' name='searchin' class="radiobutton" id="search_in_quintessence" value='quintessence' />
<label for="search_in_quintessence">{$lang['searchquintessence']}</label>
<br />
<input type='radio' name='searchin' class="radiobutton" id="search_in_reputation" value='reputation' />
<label for="search_in_reputation">{$lang['searchreputation']}</label>
</fieldset></td>
</tr>
<tr>
<td nowrap="nowrap" valign='top'><fieldset class="search">
<legend><strong>{$lang['resultby']}</strong></legend>
<select name='sortby'>
  <option value='lastpost'>{$lang['lastpost']}</option>
  <option value='post'>{$lang['posts']}</option>
  <option value='postusername'>{$lang['postusername']}</option>
  <option value='forumid'>{$lang['forumname']}</option>
</select>
<br />
<input type='radio' name='order' id="sort_desc" class="radiobutton" value='desc' checked="checked" />
<label for="sort_desc">{$lang['descending']}</label>
<br />
<input type='radio' name='order' id="sort_asc" class="radiobutton" value='asc' />
<label for="sort_asc">{$lang['ascending']}</label>
</fieldset></td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td class='tcat' colspan='2' align='center'><input type='submit' value=' {$lang['dosearch']} ' class="button" /></td>
</tr>
</tbody></table>
</div>
</form>
{template:footer}