<div class="op_title" onmousedown="begindrag('operation_pannel', event);">
	<cite onclick="hideElement('operation_pannel');"><img src="images/<#IMAGE#>/x.gif" alt="" /></cite>
	<h3>{$lang['reportbadpost']}</h3>
</div>
<form action="" method="post" name='mxb_report_form' id='mxb_report_form'>
<foreach="$input AS $n => $v">
	<input type='hidden' name='{$n}' value='{$v}' />
</foreach>
	<div class="item_list">
		{$lang['reportthread']}&nbsp;:&nbsp;<a href='showthread.php{sessionurl}t={$thread['tid']}'>{$title}</a>
	</div>
	<div class="item_list">
		{$lang['reportmessage']}
		<div class="desc">{$lang['reportmessagedesc']}</div>
	</div>
	<div class="item_list">
		<textarea cols='90' rows='5'  name='message'></textarea>
	</div>
	<div class="item_list" align="center">
		<input type="button" class="button_normal" accesskey="s" name="report_btn" value=" {$lang['submit']} " onclick="do_report_post('mxb_report_form');" />
		<input type="button" class="button_normal" name="reset_btn" accesskey="c" value=" {$lang['_cancel']} " onclick="hideElement('operation_pannel');" />
	</div>
</form>