<foreach="$showpost AS $post">
<div id='table_{$post['row']['pid']}' class="div_post">
	<a name="pid{$post['row']['pid']}"></a>
	<div id="post_{$post['row']['pid']}" class="{$post['row']['post_css']}">
		<div class="user_profile" onmouseover="this.className='user_profile action_area';" onmouseout="this.className='user_profile';">
			{$post['poster']['avatar']}
			<em>{$post['poster']['name']}</em>
			<if="$post['poster']['gender']==1">
			<img src='images/<#IMAGE#>/male.gif' alt='{$lang['_male']}' />
			<elseif="$post['poster']['gender']==2">
			<img src='images/<#IMAGE#>/female.gif' alt='{$lang['_female']}' />
			</if>
			<div><cite>{$post['poster']['grouptitle']}</cite></div>
			<ul>
			<li>{$lang['_useposts']}: {$post['poster']['posts']}</li>
			<li>{$lang['_quintessences']}: {$post['poster']['quintessence']}</li>
			<li>{$lang['_useranks']}: {$post['poster']['title']}</li>
			{$post['poster']['expand_credit']}
			<li>{$lang['_joindate']}: {$post['poster']['joindate']}</li>
			<if="$post['poster']['status']">
			<li>{$lang['status']}: <strong>{$lang['online']}</strong></li>
			<else>
			<li>{$lang['status']}: <strong>{$lang['offline']}</strong></li>
			</if>
			<li>
				<if="$post['poster']['pmicon']">
				<a href='private.php{sessionurl}do=newpm&amp;u={$post['poster']['pmicon']}'>{$lang['_pm']}</a>&nbsp;
				</if>
				<if="$post['poster']['email_icon']">
				<a href='###' onclick="send_mailto_user({$post['poster']['email_icon']}, 0)">{$lang['_sendmail']}</a>&nbsp;
				</if>
				<if="$post['poster']['qq_icon']">
				<a href='http://wpa.qq.com/msgrd?V=1&amp;Uin={$post['poster']['qq']}&amp;Site={$post['poster']['qq_other']['site']}&amp;Menu=yes' target='_blank'><img src='http://wpa.qq.com/pa?p=3:{$post['poster']['qq']}:4' alt='{$lang['_qq']}' /></a>
				</if>
			</li>
			</ul>
		</div>
		<div class="post_content">
			<div id="pinfo_{$post['row']['pid']}" class="post_info">
				<ul>
					<if="$post['row']['edit_button']">
					<li><a href='editpost.php{sessionurl}f={$forum['id']}&amp;t={$thread['tid']}&amp;p={$post['row']['pid']}&amp;pp={$_INPUT['pp']}' title="{$lang['editpost']}" >{$lang['edit']}</a></li>
					</if>
					<if="$post['row']['delete_button']">
					<li><a href="###" onclick="ajax_submit_form('modform','deletepost', 'pid', {$post['row']['pid']});" title="{$lang['deletepost']}" >{$lang['delete']}</a></li>
					</if>
					<if="$post['row']['banpost']">
					<li><a href='###' onclick="doban_user_post('modform', {$post['row']['userid']}, 0);" title="{$lang['banuserpost']}" >{$lang['ban']}</a></li>
					</if>
					<if="$post['row']['report_link']">
					<li><a href='###' onclick="report_post('modform',{$post['row']['pid']});" title="{$lang['reportpost']}" ><cite>{$lang['report']}</cite></a></li>
					</if>
					<if="$post['poster']['canevaluation']">
					<li><a href='###' onclick="evaluation_post('modform', {$post['row']['pid']});" title="{$lang['evaluatepost']}" >{$lang['evaluate']}</a></li>
					</if>
					<li>
						<a href="newreply.php{sessionurl}f={$forum['id']}&amp;t={$thread['tid']}" title="{$lang['replypost']}"><em>{$lang['reply']}</em></a>
					</li>
					<li>
						<a href="newreply.php{sessionurl}f={$forum['id']}&amp;t={$thread['tid']}&amp;qpid={$post['row']['pid']}" title="{$lang['quotereply']}"><em>{$lang['_quote']}</em></a>
						<input type='checkbox' id="pid_{$post['row']['pid']}" name='pid[]' value='{$post['row']['pid']}' title="{$lang['quotedesc']} - PostId:{$post['row']['pid']}" onclick="multiquote_add({$post['row']['pid']},{$thread['tid']},this.checked);" />
					</li>
				</ul>
				<a title="{$lang['postlink']}" href="redirect.php?t={$post['row']['threadid']}&amp;goto=findpost&amp;p={$post['row']['pid']}">{$post['row']['postcount']}&nbsp;{$lang['floor']}</a>&nbsp;&nbsp;&nbsp;&nbsp;{$post['poster']['name']}
				<if="$post['poster']['userdocut']">
				<button disabled="disabled" title="{$post['poster']['usercurdo']} - {$post['poster']['userdotime']}">- {$post['poster']['userdocut']}</button>
				</if>
				<cite class="time">
					{$lang['postat']}&nbsp;{$post['row']['dateline']}
					<if="$post['row']['posttype'] == 1">
					{$lang['postfromwap']}
					<else>
					{$post['row']['host']}
					</if>
				</cite>
			</div>
			{ads:post,$forum['id']}

			<a href="#" onclick="return doZoom('show{$post['row']['pid']}', 12);">小</a>
			<div class="post_text" id="show{$post['row']['pid']}"{$post['row']['ajaxeditpostevent']}>
					{$post['row']['pagetext']}
			</div>
			<if="$post['attachment']">
			<div class="attach">
				{$post['attachment']}
			</div>
			</if>
			<!-- 显示帖子获得积分 -->
			<if="$post['row']['evalcredit']">
			<div class="postevalcredit" onmouseover="showElement($('evalcredit_list{$post['row']['pid']}'));" onmouseout="hideElement($('evalcredit_list{$post['row']['pid']}'));">
				<ul>
					<foreach="$post['row']['evalcredit'] AS $k => $v">
					<li>
					{$v['creditname']} : <if="$v['credit'] > 0">+</if>{$v['credit']}
					</li>
					</foreach>
				</ul>
				<ul id="evalcredit_list{$post['row']['pid']}" class="desc">
					<foreach="$post['row']['reppost'] AS $k => $v">
					<li>
						{$v[0]} {$v[1]} {$v[2]} {$v[3]}
						<div class="time">{$v[4]}</div>
					</li>
					</foreach>
				</ul>
			</div>
			</if>
			<!-- 显示帖子最近更新 -->
			<if="$post['row']['displayuptlog']">
			<div class="postupdatelog">
				{$post['row']['updatelog']}
			</div>
			</if>
			<if="$post['row']['signature']">
			<div class="signature"{$post['poster']['ajaxeditsigevent']}>
				<sup>signature</sup>
				<div class="sign_text" id='signature{$post['row']['pid']}'>
					{$post['row']['sig']}
				</div>
			</div>
			</if>
		</div>
		<div class="clear"><!-- clear float --></div>
		<if="$post['row']['postcount'] == 1">
			<if="$relatethread">
			<!-- 相关主题 -->
			<ul id="relatethread">
				<foreach="$relatethread AS $relatethread">
					<li>
					<cite class="time">{$relatethread['postusername']}&nbsp;{$lang['postat']}&nbsp;{$relatethread['dateline']}</cite>
					<a href="showthread.php{sessionurl}t={$relatethread['tid']}" title="{$relatethread['source_title']}">{$relatethread['title']}</a>
					</li>
				</foreach>
			</ul>
			<!-- 相关主题结束 -->
			</if>
		<input type="hidden" id="post_1_count" value="{$post['row']['pid']}" />
		</if>
		{ads:postfooter,$forum['id']}
	</div>
</div>
</foreach>
<div id="ajaxrep{$postajaxrep}" style="display:none"><!-- --></div>