<div class='wbborder'></div>
<div class='wborder'>
<div class='thead'>{$lang['whatsbbcode']}</div>
<div class='tablepad'>
{$lang['bbcodedesc']}
</div>
</div>
<div class='wttborder'>
<foreach="$codelist AS $data">
<table width='100%' cellpadding='4' cellspacing='1' class='ttable'>
<tbody>
<tr> 
<td colspan='2' class='thead'>
<div style='float:right;font-weight:normal;'>{$data['desc']}</div>
{$lang['bbcode']} - {$data['title']}</td>
</tr>
<tr align='center'>
<td width='40%' class='tcat'>{$lang['tags']}</td>
<td width='60%' class='tcat'>{$lang['example']}</td>
</tr>
<tr>
<td class='row1'>{$data['before']}</td>
<td class='row2' height='50'>{$data['change']}</td>
</tr>
</tbody></table>
</foreach>
</div>