<div class="separate"><!-- separate block --></div>
<div id="ucp_menu">
	<strong>{$lang['usercpmenu']}</strong>
	<if="$bbuserinfo['pmquota']">
	<em>{$lang['pm']}</em>
	<ul>
		<if="$bbuserinfo['pmfolders']">
		<foreach="$bbuserinfo['pmfolders'] AS $id => $data">
		<li><a href='private.php{sessionurl}do=list&amp;folderid={$id}'>{$data['foldername']}<if="$data['pmcount']">({$data['pmcount']})</if></a></li>
		</foreach>
		<li><hr /></li>
		</if>
		<li><a href='private.php{sessionurl}do=newpm'>{$lang['writenewpm']}</a></li>
		<li><a href='private.php{sessionurl}do=editfolders'>{$lang['editfolders']}</a></li>
		<li><a href='private.php{sessionurl}do=showtrack'>{$lang['pmtrack']}</a></li>
	</ul>
	</if>
	<em>{$lang['forumoptions']}</em>
	<ul>
		<li><a href='usercp.php{sessionurl}do=setting'>{$lang['forumsetting']}</a></li>
		<if="$bbuserinfo['attachlimit'] != -1">
		<li><a href='usercp.php{sessionurl}do=attach'>{$lang['manageattachment']}</a></li>
		</if>
	</ul>
	<em>{$lang['userprofile']}</em>
	<ul>
		<li><a href='usercp.php{sessionurl}do=userchange'>{$lang['changeemailandpass']}</a></li>
		<li><a href='usercp.php{sessionurl}do=editprofile'>{$lang['editprofile']}</a></li>
		<li><a href='usercp.php{sessionurl}do=editavatar'>{$lang['editavatar']}</a></li>
		<if="$bbuserinfo['cansignature']">
		<li><a href='usercp.php{sessionurl}do=editsignature'>{$lang['editsignature']}</a></li>
		</if>
		<li><a href='private.php{sessionurl}do=buddy'>{$lang['buddylist']}</a></li>
	</ul>
	<em>{$lang['subscribe']}</em>
	<ul>
		<li><a href='usercp.php{sessionurl}do=subscribethread'>{$lang['subscribethread']}</a></li>
	</ul>
	<em>{$lang['mythread']}</em>
	<ul>
		<li><a href='findposts.php{sessionurl}do=finduserthread&amp;u={$bbuserinfo['id']}' target='_blank'>{$lang['my_threads']}</a></li>
		<li><a href='findposts.php{sessionurl}do=finduser&amp;u={$bbuserinfo['id']}' target='_blank'>{$lang['my_posts']}</a></li>
		<if="$bbuserinfo['quintessence'] > 0">
		<li><a href='findposts.php{sessionurl}do=getquintessence&amp;namesearch={$bbuserinfo['name']}&amp;userid={$bbuserinfo['id']}' target='_blank'>{$lang['my_quintessences']}</a></li>
		</if>
	</ul>
</div>