{template:header}
{template:usercp_menu}
<div id="ucp_content">
	<h3>{$lang['changeemailandpass']}</h3>
	<form action="usercp.php" method="post" name='form'>
	<input type='hidden' name='s' value='{sessionid}' />
	<input type='hidden' name='do' value='dochange' />
	<em>{$lang['inputcpassword']}</em>
	<p class="highlight">{$lang['inputcpassworddesc']}</p>
	<div class='ucp'>
		{$lang['currentpassword']}
		<input type='password' name='currentpassword' value='' class="input_normal" />
	</div>
	<em>{$lang['changeemail']}</em>
	<p>{$lang['currentemail']}: {$bbuserinfo['email']}</p>
	<if="$show['active']">
	<p class="desc">{$lang['changeemaildesc']}</p>
	</if>
	<div class='ucp'>
		{$lang['inputnewemail']}
		<input type='text' name='email' value='' class="input_normal" />
		{$lang['confirmnewemail']}
		<input type='text' name='emailconfirm' value='' class="input_normal" />
	</div>
<!--
	<em>{$lang['changeemailcharset']}</em>
	<if="$bbuserinfo['emailcharset']">
	<p class="desc">{$lang['currentemailcharset']}: {$bbuserinfo['emailcharset']}</p>
	</if>
	<div class='ucp'>
		{$lang['inputnewemaicharset']}
		<input type='text' name='emailcharset' value='' class="input_normal" />
	</div>
 -->
	<em>{$lang['updatepassword']}</em>
	<div class='ucp'>
		{$lang['newpassword']}
		<input type='password' name='newpassword' value='' class="input_normal" />
		{$lang['inputnewpassword']}
		<input type='password' name='newpasswordconfirm' value='' class="input_normal" />
	</div>
	<div class="ucp item_change"><input type="submit" name='s_pass' value=" {$lang['updatesetting']} " class="input_big" /></div>
	</form>
</div>
{template:footer}