<div class="op_title" onmousedown="begindrag('operation_pannel', event);">
	<cite onclick="hideElement('operation_pannel');"><img src="images/<#IMAGE#>/x.gif" alt="" /></cite>
	<h3>{$lang['banaction']}</h3>
</div>
<form name='ban_user_post' id='ban_user_post' method="POST" action='misc.php'>
<foreach="$input AS $n => $v">
	<input type='hidden' name='{$n}' value='{$v}' />
</foreach>
	<div class="item_list">
	<if="$moderator['canbanpost'] || $bbuserinfo['supermod'] || $bbuserinfo['_sup_moderator']">
		<if="!$ban['timespan']">
			<label for="permanent_2">
			<input type='radio' name='permanent' id='permanent_2' value='2'  checked="checked"/>
			{$lang['bantimepost']}
			</label>
			<input type='text' size='5' name='posttimespan' id='posttimespan' value='{$ban['posttimespan']}' class='input_normal' />
			{$banposttype}
			<if="$banpostlimit>0">
				<div>{$banpostlimitdesc}</div>
			</if>
		<elseif="$ban['forumid']">
			<label for="permanent__2">
				<input type='radio' name='permanent' id='permanent__2' value='-2' />
				{$lang['unbanforum']}
			</label>
		</if>
	</if>
	<if="$moderator['canbanuser'] || $bbuserinfo['supermod'] || $bbuserinfo['_sup_moderator']">
		<if="!$ban['timespan']">
			<label for="permanent_1">
				<input type='radio' name='permanent' id='permanent_1' value='1' />
				{$lang['bantimeuser']}
			</label>
			<input type='text' size='5' name='usertimespan' value='{$ban['usertimespan']}' class='input_normal' />
			{$banusertype}
			<label for="permanent__1">
				<input type='radio' name='permanent' id='permanent__1' value='-1'/>
				{$lang['banalways']}
			</label>
		<elseif="!$ban['forumid']">
			<label for="permanent__2">
				<input type='radio' name='permanent' id='permanent__2' value='-2'  checked="checked"/>
				{$lang['unbanuser']}
			</label>
		</if>
	</if>
	</div>
	<div class="item_list">
		<label for="sendbanmsg">
			<input type="checkbox" name="sendbanmsg" id="sendbanmsg" value="1" checked="checked"/>
			{$lang['sendevalpm']}
		</label>
	</div>
	<if="!$ban['timespan']">
	<div class="item_list">
		<label for="banbbspost">
			<input type='checkbox' name='banbbspost' id='banbbspost' value='1'  checked="checked"/>
			{$lang['banbbspost']}
		</label>
	</div>
	</if>
	<div class="item_list" align="center">
		<input type='button' value='{$lang['_ok']}' class='button_normal' onclick="doban_user_post('ban_user_post', {$uid}, 1);" />
		<input type="button" name="reset_btn" accesskey="c" value=" {$lang['_cancel']} " class='button_normal' onclick="hideElement('operation_pannel');" />
	</div>
</form>