{template:wap_header}
<card title="{$lang['boardlogin']}" id="main">
<if="$show['errors']">
<p align='center'>
{$message}
</p>
</if>
    <p>{$lang['username']}:<input name="username" size="10" maxlength="32" type="text"  /></p>
    <p>{$lang['password']}:<input name="password" size="10" maxlength="32" type="password" /></p>
	<p>{$lang['logintype']}:<select name="logintype">
         <option value="1">{$lang['type_username']}</option>
         <option value="2">{$lang['type_userid']}</option>
         <option value="3">{$lang['type_email']}</option>
       </select>
    </p>
    <p>{$lang['invisible']}:<select name="invisible">
         <option value="0">{$lang['no']}</option>
         <option value="1">{$lang['yes']}</option>
       </select>
    </p>
    <p><anchor>{$lang['login']}
      <go href="login.php{sessionurl}do=login" method="post">
        <postfield name="username" value="$(username)" />
        <postfield name="password" value="$(password)" />
        <postfield name="logintype" value="$(logintype)" />
        <postfield name="invisible" value="$(invisible)" />
      </go>
    </anchor>
    </p>
    <p><a href='register.php{sessionurl}' title='{$lang['newregister']}'>{$lang['newregister']}</a></p>
    <p><a href='index.php{sessionurl}' title='{$lang['returnindex']}'>{$lang['returnindex']}</a></p>
{template:wap_footer}