{template:wap_header}
<card title="{$lang['search']}" id="search">
<if="$show['errors']">
<p align='center'>
{$message}
</p>
</if>
    <p>{$lang['keyword']}:<input name="keywords" size="10" maxlength="32" type="text"  /></p>
    <p>{$lang['username']}:<input name="namesearch" size="10" maxlength="32" type="password" /></p>
    <p><small>{$lang['searchexplain']}</small></p>
    <p><anchor>{$lang['search']}
      <go href="search.php{sessionurl}do=search" method="post">
        <postfield name="keywords" value="$(keywords)" />
        <postfield name="namesearch" value="$(namesearch)" />
      </go>
    </anchor>
    </p>
    <p><a href='search.php{sessionurl}do=finduserthread&amp;u={$bbuserinfo['id']}'>{$lang['mythread']}</a></p>
    <p><a href='index.php{sessionurl}' title='{$lang['returnindex']}'>{$lang['returnindex']}</a></p>
{template:wap_footer}