{template:header}
<!-- 状态历程 -->
<div class="all_doing">
<div id="userjourney">
	{$pagenav}
	<h2>{$lang['userjourney']}</h2>
	<ul>
	<foreach="$userjourney AS $k => $v">
		<li>
			<div class="userhead">
				<a href="./profile.php{sessionurl}u={$v['id']}">{$v['avatar']}</a>
			</div>
			<div class="username"><a href="./profile.php{sessionurl}u={$v['id']}">{$v['name']}</a>&nbsp;</div>
			<div>{$v['usercurdo']}</div>
			<div class="usertime">{$v['userdotime']}</div>
			<div style="clear:both"></div>
		</li>
	</foreach>
	</ul>
	{$pagenav}
</div>
</div>

<div id="newmember">
<div>
	<h2>{$lang['newmember']}</h2>
	<ul>
	<foreach="$newmember AS $k => $v">
		<li>
			<div>
				<a href="./profile.php{sessionurl}u={$v['id']}">{$v['avatar']}<span>{$v['name']}</span></a>
			</div>
		</li>
	</foreach>
	</ul>
</div>
</div>
{template:footer}