{template:header}
<div class="separate"><!-- separate block --></div>
<if="$errors">
<div id='errors'>
	<h3>{$lang['validateerrors']}</h3>
	<p>{$errors}</p>
</div>
</if>
<form action="register.php" method="post">
<input type='hidden' name='s' value='{sessionid}' />
<input type='hidden' name='do' value='sendlostpassword' />
<table width='100%' cellpadding='4' cellspacing='1' class='ttable'>
<caption class='tcat'>
	{$lang['findpassword']}
</caption>
<tbody>
<tr class='item_list'> 
<td class='desc' colspan='2'>{$lang['howtoreset']}<br />
{$lang['howtoresetdesc']}</td>
</tr>
<tr class='item_list'>
<td width='35%'><strong>{$lang['yourname']}</strong></td>
<td width='65%'><input type='text' size='32' maxlength='32' name='username' class='bginput' /></td>
</tr>
<if="$show['gd']">
<tr class='item_list'>
	<td width='35%'>
	{$lang['affirmimagehash']}
	<div><img src='register.php{sessionurl}do=showimage&amp;rc={$regimagehash}' border='0' alt='' /></div>
	</td>
	<td width='65%'>
		<div class='desc'>{$lang['inputimagecode']}</div>
	<input type='hidden' name='regimagehash' value='{$regimagehash}' />
	<input type='text' size='25' maxlength='32' name='imagestamp' class='bginput' />
	</td>
</tr>
<elseif="$show['gif']">
<tr class='item_list'>
	<td width='35%'>
	{$lang['affirmimagehash']}
	<div>{$image}</div>
	</td>
	<td width='65%'>
		<div class='desc'>{$lang['inputimagecode']}</div>
	<input type='hidden' name='regimagehash' value='{$regimagehash}' />
	<input type='text' size='25' maxlength='32' name='imagestamp' class='bginput' />
	</td>
</tr>
</if>
<tr class='item_list'> 
<td colspan='2' align="center"><input type="submit" name="safechange" value=" {$lang['safechange']} " class="input_big" />&nbsp;&nbsp;<input type="submit" name="mailchange" value=" {$lang['mailchange']} " class="input_big" /></td>
</tr>
</tbody></table>
</form>
{template:footer}