{template:header}
<div class="separate"><!-- separate block --></div>
<form action="register.php" method="post" name='REG'>
<input type='hidden' name='s' value='{sessionid}' />
<input type='hidden' name='do' value='reactivation' />
<if="$errors">
<div id='errors'>
	<h3>{$lang['validateerrors']}</h3>
	<p>{$errors}</p>
</div>
</if>
<table width='100%' cellpadding='4' cellspacing='1' class='ttable'>
<caption class='tcat'>
	{$lang['resendactivationmail']}
</caption>
<tbody class="tbody">
	<tr class='item_list'> 
		<td colspan='2' class='desc'>{$lang['activationmaildesc']}</td>
	</tr>
	<tr class='item_list'>
		<td><strong>{$lang['registeredname']}</strong></td>
		<td><input type='text' size='32' maxlength='64' name='username' value='{$username}' class='bginput' /></td>
	</tr>
	<tr class='item_list'>
	<td width="180">&nbsp;</td>
	<td>
		<input type="submit" accesskey="s" value="{$lang['resendactivationmail']}" class='input_big' />
	</td>
</tr>
</tbody></table>
</form>
{template:footer}