{template:wap_header}
<card title="{$lang['pmcenter']}" id="pm">
<p>{$foldername}</p>
{$contents}
<if="$show['p1']">
<p>
<if="$prevpage">
<a href='pm.php{sessionurl}do=list&amp;folderid={$folderid}&amp;pp={$prevlink}' title='{$lang['prevlink']}'>{$lang['prevlink']}</a>
</if>
<if="$nextpage">
<a href='pm.php{sessionurl}do=list&amp;folderid={$folderid}&amp;pp={$nextlink}' title='{$lang['nextlink']}'>{$lang['nextlink']}</a>
</if>
</p>
</if>
<p><a href='pm.php{sessionurl}do=newpm'>{$lang['sendpm']}</a><br />
<a href='pm.php{sessionurl}'>{$lang['pmcenter']}</a><br />
<a href='index.php{sessionurl}'>{$lang['returnindex']}</a></p>
{template:wap_footer}