{template:wap_header}
<card title="{$lang['register']}" id="register">
<if="$message">
<p align='center'>
{$message}
</p>
</if>
    <p>{$lang['username']}:<input name="username" size="10" maxlength="32" type="text"  /></p>
    <p>{$lang['password']}:<input name="password" size="10" maxlength="32" type="password" /></p>
    <p>{$lang['confirmpass']}:<input name="confirmpass" size="10" maxlength="32" type="password" /></p>
    <p>{$lang['email']}:<input name="email" size="10" maxlength="50" type="text" /></p>
<!--     <p>{$lang['emailcharset']}:<input name="emailcharset" size="10" maxlength="50" type="text" /></p> -->
    <p>{$lang['sex']}:<select name="sex">
         <option value="0">{$lang['male']}</option>
         <option value="1">{$lang['female']}</option>
       </select>
    </p>
    <p><anchor>{$lang['register']}
      <go href="register.php{sessionurl}do=create" method="post">
        <postfield name="username" value="$(username)" />
        <postfield name="password" value="$(password)" />
       <postfield name="email" value="$(email)" />
        <postfield name="confirmpass" value="$(confirmpass)" />
        <postfield name="sex" value="$(sex)" />
      </go>
    </anchor>
    </p>
    <p><a href='index.php{sessionurl}' title='{$lang['returnindex']}'>{$lang['returnindex']}</a></p>
{template:wap_footer}